.product-card {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 130px;
  background-color: white;
  border: 2px solid #f5f5f5;
}

.discount {
  text-decoration: line-through;
  font-size: 12px;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  gap: 5px;
  flex: 1 1 20%;
  justify-content: start;
}

.product-image {
  width: 70px;
}

.product-info {
  flex: 1 1 40%;
}

.product-info h1 {
  font-size: 20px;
}

.product-info .product-description {
  margin-top: 6px;
  font-size: 13px;
}

.product-price {
  display: flex;
  gap: 5px;
}

.product-promotion {
  font-size: 12px;
}

.discount-percentage {
  font-weight: 800;
}

.final-price {
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.5rem;
}

/* Tablet Breakpoint */
@media (max-width: 576px) {
  .product-card {
    flex-direction: column;
    height: auto;
  }
}
